:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #272727;
}
#root{
  min-height: 100vh;
}
body{
  height: 100%;
}


.sidebar_comp{
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 7px 12px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  transition: background 50ms;
  border-radius: 4px;
  
}

.sidebar_comp:hover{
  background-color: #2d2d2d;
  
}